/* line 1, /home/vince/Documents/development/Branchbird/app/assets/stylesheets/hello.css.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 6, /home/vince/Documents/development/Branchbird/app/assets/stylesheets/hello.css.scss */
.main {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* line 12, /home/vince/Documents/development/Branchbird/app/assets/stylesheets/hello.css.scss */
.header {
  height: 2em;
  padding-left: 15%;
  background-color: black;
  color: white;
}

/* line 19, /home/vince/Documents/development/Branchbird/app/assets/stylesheets/hello.css.scss */
.header h2 {
  margin: 0;
}

/* line 23, /home/vince/Documents/development/Branchbird/app/assets/stylesheets/hello.css.scss */
.title {
  text-align: center;
}

/* line 27, /home/vince/Documents/development/Branchbird/app/assets/stylesheets/hello.css.scss */
.graph1 {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* line 33, /home/vince/Documents/development/Branchbird/app/assets/stylesheets/hello.css.scss */
.graph1 .line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 2;
}

/* line 40, /home/vince/Documents/development/Branchbird/app/assets/stylesheets/hello.css.scss */
.graph2 {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* line 46, /home/vince/Documents/development/Branchbird/app/assets/stylesheets/hello.css.scss */
.graph2 .line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 2;
}

/* line 53, /home/vince/Documents/development/Branchbird/app/assets/stylesheets/hello.css.scss */
.graph3 {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* line 59, /home/vince/Documents/development/Branchbird/app/assets/stylesheets/hello.css.scss */
.graph3 .line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 2;
}

/* line 66, /home/vince/Documents/development/Branchbird/app/assets/stylesheets/hello.css.scss */
.buttons {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* line 72, /home/vince/Documents/development/Branchbird/app/assets/stylesheets/hello.css.scss */
.buttons * {
  margin-left: 18%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

