<div class='main'>
	<div class='header'>
	<h1>Branchbird Coding Challenge</h1>	
	</div>
	<div class='banner'>
		<h1>Effect of Gentrification on Chicago Crimes</h1>
	</div>

	<div class='banner'>
		<p>A good friend of mine is looking to buy a house in Chicago. His real estate agent recommended west loop, as an "up and coming" neighborhood to consider.</p>
		<p>Many Chicagoans are familiar with these "up and coming" neighborhoods, such as west loop, wicker park, logan square, and uptown. These neighborhoods, especially uptown, are not known to be very safe. </p>
	</div>

	<div class='graphic'>
		
	</div>

	<div>
		<h1>The crime rate</h1>
		<p>The crime rate in these definitely drops over the years, but then again, so did the entire chicago city.</p>

	</div>

	<div>
		<p>So is gentrification really causing a drop in crime rate? Hard to tell.</p>
	</div>

	<div>
		<h1>One interesting thing to note though, is that gentrification shifted the nature of the crime in these areas. If we breakdown different types of crime in these neighborhoods, we see an increase in theft, but a significant drop in murder compare to the rest of chicago.</h1>
	</div>

	<div class='graphic'>
		<button type="button">West Loop</button>
		<button type="button">Wicker Park</button>
		<button type="button">Logan Square</button>
		<button type="button">Uptown</button>
		<button type="button">Chicago</button>

		<graph>
			

		</graph>
	</div>
</main>