<div class='header'>
	<h2>Branchbird Coding Challenge - Vince</h2>	
</div>

<div class='main'>
	<div class='title'>
		<h1>Effect of Gentrification on Chicago Crimes</h1>
	</div>

	<div class='banner'>
		<p>A good friend of mine is looking to buy a house in Chicago. His real estate agent recommended west loop, as an "up and coming" neighborhood to consider.</p>
		<p>Many Chicagoans are familiar with these "up and coming" neighborhoods, like west loop and uptown. These neighborhoods, especially uptown, are not known to be very safe. Naturally, the real estate agent assured him that these neighborhood has been undergoing a lot gentrification, and they are perfectly safe. </p>
		<p>We should expect a drop in crimes in these areas along with an increase in new construction, right?</p>
	</div>

	<h3 class='title'>West loop crime incidence by year</h3>
	<div class='graph1'>
		
		
	</div>

	<div>
		<p>The crime rate in these definitely drops soon after new construction has picked up, but then again, so did the entire chicago city.</p>
	</div>

	<h3 class='title'>Chicago crime incidence by year</h3>
	<div class='graph2'>
		
	</div>

	<div>
		<p>So is gentrification really causing a drop in crime rate? Hard to tell.</p>
	</div>

	<div>
		<p>So were we wrong? In a way. Gentrification had an small effect on total number of crimes, but it has also shifted the nature of the crime in these areas. If we breakdown different types of crime in these neighborhoods, we see an increase in theft, but a significant drop in murder compare to the rest of chicago.</p>
	</div>

	<h3 class='title'>Crime distribution by year</h3>
	<div class='graph3'>
		<div class='buttons'>
			<button type="button" class="button" id="westloop">West Loop</button>
			<button type="button" class="button" id="uptown">Uptown</button>
			<button type="button" class="button" id="chicago">Chicago</button>
		</div>
	</div>
</main>