html, body{
	margin:0;
	padding:0;
}

.main{
	margin-left: auto;
	margin-right: auto;
	width:70%
}

.header{
	height: 2em;
	padding-left:15%;
	background-color:black;
	color: white;
}

.header h2{
	margin:0;
}

.title{
	text-align: center;
}

.graph1{
	margin-left: auto;
	margin-right: auto;
	width:70%;
	background-color: rgba(128, 190, 157, 0.17);
}

.graph1 .line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	stroke-width: 3;
}

.graph2{
	margin-left: auto;
	margin-right: auto;
	width:70%;
	background-color: rgba(128, 190, 157, 0.17);
}

.graph2 .line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	stroke-width: 3;
}

.graph3{
	margin-left: auto;
	margin-right: auto;
	width:70%;
	background-color: rgba(128, 190, 157, 0.17);
}

.graph3 .line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	stroke-width: 3;
}

.buttons{
	margin-left: auto;
	margin-right: auto;
	width:70%
}

.buttons * {
	margin-left: 18%;

}

.graph1 .graph2 .graph3{
	
	background-color: blue;
}